
h1{
	padding: 30px;
	text-align: center;
}
.form-row{
	margin-top: 20px;
}
.form-group{
	margin-left: 70px;

}
.form-group1{
	margin-left: 70px;

}
.padre{
	width: 75%;
	height: 690px;
	margin-top: 5%;
	margin-left: 210px;
	background:#EEEFF0;
	
}
.text{
margin-top: 40px;
margin-left: 70px;
}
.boton{
margin-top: 10px;
margin-left: 70px;

}
.table{
	margin-top: 30px;
}
.imagen1{
	width:20px ;
	height:25px;
}
.imagen2{
	width: 20px;
	height: 25px;
	margin-left: 90px;
}

