
h1{
	padding: 30px;
	text-align: center;
}
.form-row{
	margin-top: 20px;
}
.padre{
	height: 60%;
	width: 80%;
	margin-top: 30px;
	margin-left: 10%;
}
.conte_formulario{
	background:#EEEFF0;
	padding: 20px;
}
.text{
margin-top: 5%;
margin-left: 12%;
}
.boton{
margin-top: 10px;
margin-left: 70px;

}
.table{
	margin-top: 30px;
}
.imagen1{
	width:20px ;
	height:25px;
}
.imagen2{
	width: 20px;
	height: 25px;
	margin-left: 90px;
}

